body {
  background-color: rgb(29, 29, 31);
  color: #fefefe;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.login-container {
  width: 100%;
  max-width: 400px;
  background-color: rgb(39, 53, 68);
  padding: 16px;
  border-radius: 5px;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.input-container input {
  background-color: rgb(68, 68, 68);
  color: rgb(214, 214, 214);
  padding: 5px;
  border: 0;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin-top: 16px;
  background-color: rgb(0, 47, 255);
  color: #fefefe;
  border: 0;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}